body {
    position: relative;
    font-family: "Noto Sans CJK TC", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0;
    background-color:#F1EEE9;
}
.page {
    position: relative;
}
/********************* SECTIONS *********************/
#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 16vw;
    padding: 0px 5px 0px 5px;
    background-color:#14274E;
}
#maincontent {
    position: absolute;
    top: 0;
    right: 0;
    min-height: 100vh;
    width: 83vw;
}
#control-panel {
    position: relative;
    vertical-align: 'top';
    width: 70vw;
    margin-top:10px;
    margin-left:4.75vw;
    padding: 5px 0px 5px 0px;
    box-shadow: 3px 3px 5px grey;
    background-color: #73777B;
}
#graph-area {
    position: relative;
    width: 70vw;
    margin-left:4.75vw;
    /*background-color: gold;*/
}
/******************* BOX *******************/
.row {
    position: relative;
    margin: 25px 0px;
    height: 120px;
    width: 100%;
    /*background-color: gold;*/
}
.objbox {
    position: relative;
    height: 100;
    width: 100;
    /*background-color: red;*/
}
.graph-content {
    position: relative;
    height: 100vh;
    width: 70vw;
    /*background-color: pink;*/
}
/******************* FILITERS *******************/
.box {
    padding: 10px 15px 15px 15px;
    border-radius: 10px;
    background-color: #EC994B;
    box-shadow: 0px 0px 20px 0.01px black;
    display: 'inline-block';
    vertical-align: 'top';
}
#date-box {
    position: absolute;
    top: 0;
    left: 5%;
    height: auto;
    width: 25%;
}
#loc-box {
    position: absolute;
    top: 0;
    left: 35%;
    height: auto;
    width: 25%;
}
#car-box {
    position: absolute;
    top: 0;
    left: 65%;
    height: auto;
    width: 25%;
}
#time-box {
    position: absolute;
    top: 0;
    left: 5%;
    height: auto;
    width: 80%;
}
#week-box {
    position: absolute;
    top: 0;
    left: 5%;
}
#botton-box {
    position: absolute;
    top: 0;
    left: 65%;
}
/********************* IMG *********************/
#motc {
    background-color:#298864;
    height: auto;
    width: 216px;
    margin-top: 16px;
    margin-left: calc((16vw - 216px)/2);
}
#linkedin {
    display: 'inline-block';
    margin-left: 40px;
}
#mail {
    display: 'inline-block';
    height: 56px;
    width: 56px;
    margin-left: 16px;
    margin-bottom: 4px;
}
#essay {
    display: 'inline-block';
    height: 56px;
    width: 56px;
    margin-left: 24px;
    margin-bottom: 4px;
}
/********************* TEXT *********************/
h1 {
    /*text-transform: uppercase;*/
    font-size: 40px;
    color: white;
    text-align: center;
}
p {
    margin-left: 16px;
    color: black;
    font-weight: bold;
    margin: 3px 3px;
    white-space: pre-wrap;
}
.sidebartxt {
    font-size: 14px;
    color: white;
    font-weight: normal;
    white-space: pre-wrap;
    margin: 0px 16px;
    line-height: 1.5;
    margin-top: 10px;
}
/********************* DATEPICKER *********************/
.DateRangePicker {
    font-family: "Noto Sans CJK TC", "Microsoft JhengHei", Arial, Helvetica, sans-serif;
    margin: 10px 10px;
    background-color: #D0E8F2;
    border-color: #D0E8F2;
    /*box-shadow: 0 3px 3px rgba(0,0,0,0.2);
    display: inline-block;
    width:100%;
    font-size: '12px';
    display: 'inline-block';
    border-radius: '2px';
    border: '1px solid #ccc';
    color: '#333';
    border-spacing: '0';
    border-collapse:'separate';*/
}

/*customize colors of the days in calender*/
/*https://github.com/react-dates/react-dates*/
.CalendarDay__selected {
    background: #F37121;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.5);
    /*make border transparent, the last parameter stands for opacity*/
}
.CalendarDay__selected_span {
    background: #FFBD69;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.CalendarDay__selected:hover,
.CalendarDay__selected_span:hover,
.CalendarDay__hovered_span,
.CalendarDay__hovered_span:hover {
    background: #F37121;
    color: white;
    border: 1px double black;
}
/********************* DROPDOWNS *********************/
.Dropdown {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 5px;
}
.Dropdown .Select-control{
    background-color: white;
}
.Dropdown .Select-menu-outer{
    background-color: white;
}
.Dropdown .Select-value{
    background-color: #F5E6CA;
    color: black;
    font-size: 14px;  
}
.Dropdown .VirtualizedSelectFocusedOption {
    background-color: #F5E6CA;
    color: black;
}
.Dropdown .VirtualizedSelectOption  {
    font-size: 14px;
}
/********************* SLIDER *********************/
/*reference:https://stackoverflow.com/questions/44943464/plot-lydash-core-components-slider-color-change*/
.rc-slider {
    width: 100%;
    height: 10px;
}
.rc-slider-handle  {
    background-color: #2B4865;
    border: solid 3px #002B5B;
}

.rc-slider-dot-active {  
    background-color: #8FE3CF;
    border: solid 1px black;
}
.rc-slider-track {
    background-color: #00becc;
}

.rc-slider-handle:hover {
    border: solid 3px orange;
}
/********************* BUTTONS *********************/
#update-button {
    width: 240px;
    height: 60px;
    border-radius: 5px;
    margin-left: 15px;
    margin-top: 15px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    border-radius: 10px;
    cursor: pointer;
    background-color: black;
    color: white;
    font-weight: bold;
    font-family: inherit;
    text-transform: uppercase;
    font-size: 15px;
  }
#update-button:hover {
    background-color: black;
    background-color: rgba(255, 255, 255, 0.555);
    border: 1px solid rgba(255, 255, 255, 0.349);
    color: black;
    font-weight: bold;
}
/********************* GRAPHS *********************/
.Graph {
    width:100%;
    height:100%;
}